body{
    background-image: url("Zoom Background - Planetas no Espaço.png");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 120%;
    font-style: Arial;
    }

h1{
    color: aliceblue;
}h2{
    color: aliceblue;
}p{
    color: aliceblue;
}