body{
    background-image: url(Zoom\ Background\ -\ Planetas\ no\ Espaço.png);
    background-repeat: no-repeat;
    background-size: 110%;
    }
    h1{
        color: aliceblue;
    }
   .botoes{
    position: absolute;
    left: 37%;
    background-color: aliceblue;
    box-shadow: 4px 6px 4px rgba(0,0,0.2);
   }